#header {
  .MuiToolbar-root {
    width: calc(100% - 100px);
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 50px;
    padding-top: 10px;
    display: flex;
    align-items: center;
  }

  img {
    width: 60px;
    margin-right: 20px;
  }
}
