#input {
  padding: 0px 50px;
  max-width: 1000px;

  .MuiFormControl-root {
    width: 100%;
  }

  button, label {
    margin: 10px;
  }

  .button-area {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .MuiCircularProgress-root {
    margin-top: 50px;
  }

  #process-button {
    margin-bottom: 50px;
  }
}

#output {
  margin-bottom: 50px;

  th, td {
    width: 50%;
  }

  th {
    font-weight: bold;
  }

  h3 {
    margin: 50px 0px 10px 0px;
  }
}
