#input {
  padding: 0px 50px;
  max-width: 1200px;
  margin: 50px auto;

  .MuiFormControl-root {
    width: 100%;
  }

  button {
    margin: 10px;
  }

  .button-area {
    display: flex;
    justify-content: center;
    label {
      margin: 10px;
    }
  }
}

.MuiCircularProgress-root {
  margin-top: 50px;
}

